
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Optima';
  src: url('/fonts/OPTIMA.ttf') format('truetype');
}

@font-face {
  font-family: 'Palatino';
  src: url('/fonts/palr45w.ttf') format('truetype');
}

@theme {
  --font-poppins: 'Poppins', sans-serif;
}

.font-optima {
  font-family: 'Optima', sans-serif;
}

.font-palatino {
  font-family: 'Palatino', sans-serif;
}